/* You can add global styles to this file, and also import other style files */
@import "./app/styles/style-vars.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Volvo Novum", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
